<!DOCTYPE html>
<html>
  <head>
    <title>GPTeam</title>
    <meta charset="UTF-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.7/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div id="root"></div>

    <!-- Include React and ReactDOM -->
    <script src="https://cdn.jsdelivr.net/npm/react@17.0.2/umd/react.production.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/react-dom@17.0.2/umd/react-dom.production.min.js"></script>

    <!-- Include Babel and JSX Transformer -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
    <script src="./FormStyles.css"></script>

    <script type="text/babel">
      var colorMapping = {
        GENERAL: "white",
        ERROR: "red",
        ANNOUNCEMENT: "lightmagenta",
        CLI_INPUT: "lightblack",
        AGENT_0: "lightgreen",
        AGENT_1: "yellow",
        AGENT_2: "magenta",
        AGENT_3: "blue",
        AGENT_4: "red",
        AGENT_5: "lightcyan",
        AGENT_6: "cyan",
        AGENT_7: "lightyellow",
        AGENT_8: "lightblue",
        AGENT_9: "green",
      };

      async function chat(history) {
        try {
          const response = await fetch("/chat", {
            method: "POST",
            headers: {
              "Content-Type": "application/json", // Set headers if needed
            },
            body: JSON.stringify(history),
          });

          if (response.ok) {
            // If the response status is OK (2xx), you can handle the data here
            const data = await response.json();
            console.log("Data from the server:", data);
            return data;
          } else {
            // Handle errors for non-OK responses (e.g., 4xx or 5xx)
            console.error("Error:", response.status, response.statusText, await response.json());
            return null;
          }
        } catch (error) {
          // Handle network or fetch-related errors
          console.error("Fetch error:", error);
          return null;
        }
      }

      async function stopSimulation() {
        try {
          const response = await fetch("/stop", {
            method: "GET",
            headers: {
              "Content-Type": "application/json", // Set headers if needed
            },
          });

          if (response.ok) {
            // If the response status is OK (2xx), you can handle the data here
            const data = await response.json();
            console.log("Data from the server:", data);
          } else {
            // Handle errors for non-OK responses (e.g., 4xx or 5xx)
            console.error("Error:", response.status, response.statusText);
          }
        } catch (error) {
          // Handle network or fetch-related errors
          console.error("Fetch error:", error);
        }
      }

      async function startSimulation() {
        try {
          const response = await fetch("/run", {
            method: "GET",
            headers: {
              "Content-Type": "application/json", // Set headers if needed
            },
          });

          if (response.ok) {
            // If the response status is OK (2xx), you can handle the data here
            const data = await response.json();
            console.log("Data from the server:", data);
          } else {
            // Handle errors for non-OK responses (e.g., 4xx or 5xx)
            console.error("Error:", response.status, response.statusText);
          }
        } catch (error) {
          // Handle network or fetch-related errors
          console.error("Fetch error:", error);
        }
      }

      function LogViewer() {
        const [logs, setLogs] = React.useState({});
        const [worldState, setWorldState] = React.useState();
        const [currentScreen, setCurrentScreen] = React.useState("personality"); // Initially, show the PersonalityForm

        // Define a function to switch to the WorldVisualisation screen
        const showWorldVisualization = () => {
          setCurrentScreen("visualization");
        };

        const onSubmit = () => {
          startSimulation();
          showWorldVisualization();
        };

        const onEndSimulation = () => {
          stopSimulation();
          setCurrentScreen("analysis");
        };

        React.useEffect(() => {
          console.log("logs", currentScreen);
          if (currentScreen != "visualization") return;

          let socket;
          setTimeout(() => {
            console.log("logs setup");
            socket = new WebSocket("ws://" + window.location.host + "/logs");
            socket.onmessage = (e) => {
              console.log("logs data", e);
              const { agentName, color, title, description } = JSON.parse(
                e.data
              );

              setLogs((prevLogs) => {
                const updatedLogs = { ...prevLogs };
                if (!updatedLogs[agentName]) {
                  updatedLogs[agentName] = [];
                }

                updatedLogs[agentName] = [
                  { agentName, color, title, description },
                  ...updatedLogs[agentName],
                ];
                return updatedLogs;
              });
            };
          }, 3000);

          return () => {
            if (socket) {
              socket.close();
            }
          };
        }, [currentScreen]);

        React.useEffect(async () => {
          console.log("world", currentScreen);
          if (currentScreen != "visualization") return;

          let socket;
          setTimeout(() => {
            console.log("world setup");
            socket = new WebSocket("ws://" + window.location.host + "/world");
            socket.onmessage = (e) => {
              console.log("world data", e);
              const data = JSON.parse(e.data);
              setWorldState(data);
            };
          }, 3000);

          return () => {
            if (socket) {
              socket.close();
            }
          };
        }, [currentScreen]);

        /*   React.useEffect(() => {
        const socket = new WebSocket('ws://' + window.location.host + '/window');
        

        socket.onmessage = (e) => {
          if (!window.ai) {
            alert('window.ai not found. Please install at https://windowai.io/');
            return;
          }

          const { request_id, messages, temperature } = JSON.parse(e.data);


          window.ai.generateText(
            {
              messages: messages
            },
            {
              temperature: temperature,
              // enabling streaming prevents "timeout of 42000ms exceeded" and "status code 405" errors
              onStreamResult: (res) => {}
            }
          ).then(([response]) => {
            const result = {
              request_id: request_id,
              content: response.message.content
            };

            socket.send(JSON.stringify(result));
          });
        };

        return () => {
          socket.close();
        };
      }, []);
 */
        console.log(currentScreen);
        console.log(worldState);

        return (
          <div className="min-h-screen flex overflow-hidden bg-gray-800 text-white">
            {currentScreen === "personality" && (
              <PersonalityForm onSubmit={onSubmit} />
            )}

            {currentScreen === "visualization" && (!worldState ? (
              <div className="container personas-div flex justify-center items-center w-full flex-col mb-4" style={{maxWidth: "5000px"}}>
                <h1 className="text-7xl font-semibold mb-4">Focus Pocus</h1>            
                <Loading descr="world" />
              </div>
            ) : (
                <WorldVisualisation worldState={worldState} logs={logs} onEndSimulation={onEndSimulation}/>
            ))}

            {currentScreen === "analysis" && (
              <Analysis />
            )}
          </div>
        );
      }

      async function submitPersonality(personality) {
        // Send formData to the backend endpoint "/personality"
        try {
            const response = await fetch("/personality", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify(personality),
            });

            if (response.ok) {
            } else {
              throw response;
            }
          } catch (error) {
            console.error("Error sending data:", error);
          }
      }

      function PersonalityForm({ onSubmit }) {
        const [formData, setFormData] = React.useState({
          first_name: "",
          private_bio: "",
          public_bio: "",
          directives: [],
          initial_plan: {
            description: "",
            stop_condition: "",
            location: "",
          },
        });

        const handleInputChange = (e) => {
          const { name, value } = e.target;
          setFormData({
            ...formData,
            [name]: value,
          });
        };

        const handleDirectiveChange = (e, index) => {
          const updatedDirectives = [...formData.directives];
          updatedDirectives[index] = e.target.value;
          setFormData({
            ...formData,
            directives: updatedDirectives,
          });
        };

        const handlePlanChange = (e) => {
          const { name, value } = e.target;
          setFormData({
            ...formData,
            initial_plan: {
              ...formData.initial_plan,
              [name]: value,
            },
          });
        };

        const addDirective = () => {
          setFormData((prevData) => ({
            ...prevData,
            directives: [...prevData.directives, ""], // Add an empty directive
          }));
        };

        const handleSubmit = async (e) => {
          e.preventDefault();

          submitPersonality(formData);
        };

        const [personas, setPersonas] = React.useState([]);
        const addPersonas = (persona) => setPersonas(personas.concat(persona));
        let retries = 0;
        const generatePersonas = async () => {
          setPersonas("loading");
          const count = 3;
          const prompt = `I want you to generate ${count} diverse customer personas from different ethnicity, like the following example. In the directive section, tell
1. what happened and why the persona needs or considers a new phone. It can just it is old, or broke or lost or damaged, or etc.
2. What the persona thinks and want in the new product,
3. what is the budget. or other limiting factors.
[{
          "first_name": "Sarah",
          "private_bio": "Sara's Big Five Personality Test (BFPT),  Extroversion 10/40, Neuroticism 19/40, Openness to Experience 32/40, Agreeableness 32/40, Conscientiousness 38/4.
Sarah is a photography enthusiast with a keen eye for capturing moments. She loves to travel, she like to cook. She hate math. She loves poetry. Her favorite TV show is friend. She is heterosexual, ",
          "public_bio": "Sara is 34, BSc in philosophy, sara is a teacher, and she is single mother of two girls. She rent a house in Detroit's suburb.",
          "directives": [
              "Saras phone just fell down in the toilet and is not working",
              "Sara needs to get a new phone.",
              "Sara needs to get credit debt for that."
          ]
      }, ...]
Make sure to generate json.`;
          const response = await chat([{
            type: "AI",
            content: prompt,
          }]);
          if (response) {
            try {
              const personas = JSON.parse(response.content)
                .map((persona) => ({
                  ...persona, 
                  directives: [
                    ...persona.directives,
                    persona.first_name + " will participate in Focus Group to discuss the product in detail, and raise his concerns."
                  ],
                  initial_plan: {
                      "description": "Respond to Eric's question and contribute to the discussion.",
                      "stop_condition": "Eric has asked a question and started the discussion.",
                      "location": "Google Head Quarters"
                  }
                }));
              addPersonas(personas);
              personas.forEach(submitPersonality);
            } catch (error) {
              console.error("error while generating personas. Retrying: ", error, response.content);
              if (retries++ < 10) {
                generatePersonas();
              }
            }
          }
        };
      
        const PersonaCard = ({ persona }) => (
          <div className="flex-auto rounded-lg shadow-md p-4 m-2 bg-white mx-3" style={{height: 200}}>
            <h1 className="text-xl text-black font-semibold">{persona.first_name}</h1>
            <p className="text-sm text-gray-600 mb-4">{persona.public_bio}</p>
            <p className="text-sm text-gray-600 line-clamp-3">{persona.private_bio}</p>
          </div>
        );

        const PersonaCardsContainer = ({ personas }) => (
          <div className="flex justify-center items-center w-full mb-4 px-8">
            {personas.map((persona, index) => (
              <PersonaCard persona={persona} key={index} />
            ))}
          </div>
        );
        
        return (
          <div className="container personas-div flex justify-center items-center w-full flex-col mb-4" style={{maxWidth: "5000px"}}>
            <h1 className="text-7xl font-semibold mb-4">Focus Pocus</h1>
            { personas == "loading" ? <Loading descr="personas" /> : <PersonaCardsContainer personas={personas} /> }
            <div>
              <button onClick={console.warn("Unimplemented")} className="generate-button text-white-500 border border-white hover:bg-blue-500 hover:text-white hover:border-white font-semibold m-2 py-3 px-6 rounded-lg text-lg">
                Add persona
              </button>
              <button onClick={generatePersonas} className="generate-button text-white-500 border border-white hover:bg-blue-500 hover:text-white hover:border-white font-semibold m-2 py-3 px-6 rounded-lg text-lg">
                Generate personas
              </button>
              <button
                  type="button"
                  onClick={onSubmit}
                  className="generate-button text-white-500 border border-white hover:bg-blue-500 hover:text-white hover:border-white font-semibold py-3 px-6 m-2 rounded-lg text-lg"
                >
                  Start
                </button>
            </div>
          </div>
        );
          /*{<form onSubmit={handleSubmit}>
              <div className="form-group">
                <label htmlFor="first_name">First Name:</label>
                <input
                  type="text"
                  id="name"
                  name="first_name"
                  value={formData.first_name}
                  onChange={handleInputChange}
                  style={{ color: "#000" }}
                />
              </div>

              <div className="form-group">
                <label htmlFor="private_bio">Private Bio:</label>
                <textarea
                  id="private_bio"
                  name="private_bio"
                  value={formData.private_bio}
                  onChange={handleInputChange}
                  style={{ color: "#000" }}
                />
              </div>

              <div className="form-group">
                <label htmlFor="public_bio">Public Bio:</label>
                <textarea
                  id="public_bio"
                  name="public_bio"
                  value={formData.public_bio}
                  onChange={handleInputChange}
                  style={{ color: "#000" }}
                />
              </div>

              <div className="form-group">
                <label>Directives:</label>
                <ul>
                  {formData.directives.map((directive, index) => (
                    <li key={index}>
                      <input
                        type="text"
                        value={directive}
                        onChange={(e) => handleDirectiveChange(e, index)}
                        style={{ color: "#000" }}
                      />
                    </li>
                  ))}
                </ul>
                <button
                  type="button"
                  onClick={addDirective}
                  style={{ border: "1px solid #8888FF" }}
                >
                  Add Directive
                </button>
              </div>

              <div className="form-group">
                <label htmlFor="initial_plan_description">
                  Initial Plan Description:
                </label>
                <input
                  type="text"
                  id="initial_plan_description"
                  name="description"
                  value={formData.initial_plan.description}
                  onChange={handlePlanChange}
                  style={{ color: "#000" }}
                />
              </div>

              <div className="form-group">
                <label htmlFor="initial_plan_stop_condition">
                  Initial Plan Stop Condition:
                </label>
                <input
                  type="text"
                  id="initial_plan_stop_condition"
                  name="stop_condition"
                  value={formData.initial_plan.stop_condition}
                  onChange={handlePlanChange}
                  style={{ color: "#000" }}
                />
              </div>

              <button type="submit" style={{ border: "3px solid #8888FF" }}>
                Add persona
              </button>
              <button
                type="button"
                onClick={onSubmit}
                style={{ border: "3px solid #8888FF" }}
              >
                Start
              </button>
            </form>
          }          </div>
        );*/
      }

      function WorldVisualisation({ worldState, logs, onEndSimulation }) {
        return (
          <div className="flex flex-col py-2">
            <div className="w-full my-2 px-6 text-center">
              <div className="flex justify-between items-center">
                <h1 className="text-xl font-bold">
                  🌎&nbsp;&nbsp;{worldState.name}
                </h1>
                <button
                  className="generate-button text-white-500 border border-white hover:bg-blue-500 hover:text-white hover:border-white font-semibold py-3 px-6 m-2 rounded-lg text-lg"
                  onClick={onEndSimulation}
                >
                  End simulation
                </button>
              </div>
            </div>
            <div className="h-screen flex w-screen px-3">
              {worldState &&
                worldState.agents.map((agent) => (
                  <AgentWindow
                    agent={agent}
                    logLines={logs[agent.full_name] || []}
                    columnWidth={`${100 / worldState.agents.length}%`}
                  />
                ))}
            </div>
          </div>
        );
      }

      function LogLine({ log, type }) {
        const { agentName, color, title, description } = log;

        return (
          <div className="mb-4 font-mono">
            <span style={{ color: colorMapping[color], fontWeight: "bold" }}>
              {title}
            </span>{" "}
            <TypeWriter text={description} enabled={type} />
          </div>
        );
      }

      function AgentWindow({ agent, logLines, columnWidth }) {
        return (
          <div style={{ width: columnWidth }} className="px-3 py-2 h-full">
            <AgentInformation agent={agent} logLines={logLines} />
            <LogWindow logLines={logLines} />
          </div>
        );
      }

      function LogWindow({ logLines }) {
        return (
          <div className="h-full overflow-auto bg-black text-white p-4 text-sm rounded-md">
            {logLines.map((log, index) => (
              <LogLine key={index} log={log} type={index === 0} />
            ))}
          </div>
        );
      }

      const AGENT_STATUSES = {
        Observe: "👀 Observing",
        Act: "🚀 Taking Action",
        React: "🔄 Reacting",
        "Starting to Plan": "📝 Planning",
        "Moved Location": "🚶‍♂️ Moving",
        Reflection: "🤔 Reflecting",
        Gossip: "💬 Gossiping",
      };

      function AgentInformation({ agent, logLines }) {
        const statusLogs = logLines.filter((line) =>
          AGENT_STATUSES.hasOwnProperty(line.title)
        );
        const latestLog = statusLogs.length > 0 ? statusLogs[0] : null;
        const agentStatus = latestLog
          ? AGENT_STATUSES[latestLog.title]
          : "Unknown";

        return (
          <div class="bg-gray-800 h-min text-white pb-4">
            <div class="flex items-end h-full">
              <div class="w-1/2">
                <h2 class="text-lg font-bold">{agent.full_name}</h2>
                <p class="text-base">🗺️ Location: {agent.location}</p>
              </div>
              <div class="w-1/2">
                <p class="text-right text-base">{agentStatus}</p>
              </div>
            </div>
          </div>
        );
      }

      function TypeWriter({ text, enabled }) {
        const [currentIndex, setCurrentIndex] = React.useState(0);

        React.useEffect(() => {
          const intervalId = setInterval(() => {
            setCurrentIndex((prevIndex) => prevIndex + 1);
          }, 10);

          return () => {
            clearInterval(intervalId);
          };
        }, []);

        return <span>{enabled ? text.substring(0, currentIndex) : text}</span>;
      }

      function Loading({ descr="" }) {
        return (
          <div className="flex w-full items-center justify-center mb-4">
            <svg
              className="animate-spin -ml-1 mr-3 h-8 w-8 text-white"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle
                className="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                strokeWidth="4"
              ></circle>
              <path
                className="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647zM20 12a8 8 0 01-8 8v-4a4 4 0 004-4h4zm-2-5.291A7.962 7.962 0 0120 12h4c0-3.042-1.135-5.824-3-7.938l-3 2.647z"
              ></path>
            </svg>
            <span className="animate-pulse font-semibold">
              Initializing{descr ? ' ' + descr : descr}...
            </span>
          </div>
        );
      }

      function Analysis() {
        const [analysis, setAnalysis] = React.useState(null);
        const onAnalysis = async () => {
          try {
            const response = await fetch("/analyze", {
              method: "GET",
              headers: {
                "Content-Type": "application/json", // Set headers if needed
              },
            });

            if (response.ok) {
              // If the response status is OK (2xx), you can handle the data here
              const data = await response.json();
              console.log("Data from the server:", data);
              setAnalysis(data);
            } else {
              // Handle errors for non-OK responses (e.g., 4xx or 5xx)
              console.error("Error:", response.status, response.statusText, await response.json());
            }
          } catch (error) {
            // Handle network or fetch-related errors
            console.error("Fetch error:", error);
          }
        };
        return <div className="flex justify-center items-center w-full flex-col mb-4" style={{maxWidth: "5000px"}}>
            <h1 className="text-7xl font-semibold mb-4">Focus Pocus Analysis</h1>
            { analysis == "loading" && <Loading descr="analysis" />  }
            { analysis != "loading" && analysis && <div dangerouslySetInnerHTML={{ __html: formatText(analysis) }} /> }
            { !analysis && <button onClick={onAnalysis} className="generate-button text-white-500 border border-white hover:bg-blue-500 hover:text-white hover:border-white font-semibold py-3 px-6 m-2 rounded-lg text-lg">Analyze</button> }
        </div>  
      }

      function formatText(text, mode="bullet-points") {
  const lines = text.split('\n');
  let formattedText = '';
  let isList = false;

  for (let line of lines) {
    line = line.trim();
    if (line) {
      if (line.startsWith('- ') && isList) {
        formattedText += `<li>${line.substring(2)}</li>`;
      } else {
        if (isList) {
          formattedText += '</ul>';
          isList = false;
        }

        if (mode === 'analysis') {
          formattedText += `<p className="text-sm">${line}</p>`;
        } else if (mode === 'bullet-points') {
          if (line.startsWith('Positive opinions') || line.startsWith('Negative opinions') || line.startsWith('Questions about')) {
            formattedText += `<h2 className="text-m">${line}</h2>`;
          } else {
            isList = true;
            formattedText += '<ul>';
            formattedText += `<li><p className="text-sm">${line.substring(2)}</p></li>`;
          }
        }
      }
    }
  }

  if (isList) {
    formattedText += '</ul>';
  }

  return formattedText;
}

      ReactDOM.render(<LogViewer />, document.getElementById("root"));
    </script>
  </body>
</html>
